.quote {
  text-align: center;

  &__author {
    opacity: 0.7;
  }

  &__info {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  &__refresh-icon {
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.2s linear;

    &:hover {
      opacity: 1;
    }
  }
}
